{% extends "main.html" %}
{% load dict_key %}
{% block content %}

<h2>
	<a href="{% url 'author_list' %}">Author</a>:
	{% if view == "create" %}
	Create
	{% elif view == "update" %}
	Update
	{% endif %}
</h2>
<style>
	form label {
		width: 6rem;
		text-align: right;
		margin-right: 1rem
	}
</style>
<form method="post">{% csrf_token %}

	{% if form.errors %}
	<div class="mt-3 mb-3">
		{%for k in form.errors %}
		<div class="text-danger">
			{{ form.errors|dict_key:k }}
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="mt-3 mb-3">
		{{ form.as_p }}
	</div>
	<input type="submit" class="btn btn-primary" value="Submit" />
</form>

{% endblock %}