{% extends "main.html" %}

{% block content %}

<h2><a href="{% url 'publisher_list' %}">Publisher</a></h2>
<section class="mt-3 mb-3">
  <a href="/publisher/add/" class="btn btn-secondary">
    Add
  </a>
</section>
<section>
  <ul class="list-group">
    {% for publisher in publisher_list %}
    <li class="list-group-item">
      <div class="clearfix">
        <div class="float-left">
          <a href="/publisher/update/{{ publisher.id }}">
            {{ publisher.name }}
          </a>
        </div>
        <div class="float-right">
          <a href="/publisher/delete/{{ publisher.id }}" class="ml-3 btn btn-secondary">
            Delete
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}